
/* background-image: linear-gradient(to right,#252A73,#16214A,#16214A); */

/* font-family: 'Roboto Mono', monospace; */

**{
    margin: 0;
    padding: 0;
    
}

h2{
    font-weight: 700;
    font-style: italic;
}

body{
    width: 90%;
    height: 100%;
    background-image: linear-gradient(to right,#252A73,#16214A,#16214A);
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
}

p{
    text-wrap: wrap;
    text-justify: initial;
}

.skills{
    height: 5px ;
    border-radius: 10px;
    background-color: whitesmoke;
}

#java{
    width: 370px;
}

#html{
    width: 365px;
}

#css{
    width: 300px;
}

#javascript{
    width: 280px;
}

#SQL{
    width: 400px;
}

#Python{
    width: 300px;
}

#C{
    width: 350px;
}

#adobe{
    width: 280px;
}

#figma{
    width: 300px;
}

#pageSpliter{
    width: 100%;
    height: 100%;
    display: flex;
}

#left{
    width: 50%;
    height: 100%;
    display: flex;
    /* justify-content: ; */
    align-items: center;
}

#left
{
    width: 50%;
    position: fixed;
}

#lContent{
    width: 60%;
    text-wrap: wrap;
    padding-left: 75px;
}

h5{
    opacity: 50%;
}

#right{
    width: 50%;
    height: auto;
    padding-left:60%;
    padding-top: 75px;
    padding-bottom: 75px;
}

.icon{
    background-size: cover;
}


